@charset "UTF-8";
:root {
  --color-primary: #951015;
  --color-secondary: #f1d7a6;
  --color-border: #e21f2d;
  --color-background: rgb(189, 204, 183);
  --color-overlay: #5B7273;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #fbf5e8;
}

.main-header {
  width: 1200px;
  margin: 10px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  border: 2px solid var(--color-border);
  font-size: 1.5rem;
  color: var(--color-primary);
  letter-spacing: 3px;
  background-color: var(--color-background);
}

.main-header .logo {
  width: 150px;
  justify-self: flex-start;
}

.main-header h1 {
  margin: 0;
  padding: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main {
  width: 1200px;
  margin: 20px auto;
  border: 2px solid var(--color-border);
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-background);
}

.main p {
  margin-top: 50px;
  font-size: 1.7rem;
  color: var(--color-primary);
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

.main .gumb--upis {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border: 2px solid var(--color-border);
  color: var(--color-border);
  background-color: var(--color-secondary);
  position: relative;
}

.main .gumb--upis:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  outline: none;
}

.main .gumb--upis:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  outline: none;
}

.main .gumb--upis:focus {
  outline: none;
}

.main .gumb--upis::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-border);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .gumb--upis:hover::after {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  opacity: 0;
}

.forma {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: #CCB8C9;
  opacity: 0.8;
}

.forma .container {
  height: 400px;
  width: 500px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 30px;
}

.forma .container .logo {
  width: 250px;
  margin: auto;
}

.forma .container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: inherit;
  display: block;
}

.forma .container input[type='text'] {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.forma .container input[type='text']:focus {
  outline: 4px solid #4D454B;
}

.forma .container .gumbi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forma .container .gumbi .gumb--upis {
  width: 240px;
  font-size: 1.5rem;
  margin-top: 20px;
  border: 3px solid green;
  -webkit-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}

.forma .container .gumbi .gumb--upis:hover {
  background: green;
}

.forma .container .gumbi .gumb--poništi {
  width: 240px;
  font-size: 1.5rem;
  margin-top: 20px;
  border: 3px solid red;
  -webkit-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}

.forma .container .gumbi .gumb--poništi:hover {
  background: red;
}

.visible {
  display: block;
  -webkit-animation: fade 0.9s ease-out forwards;
          animation: fade 0.9s ease-out forwards;
}

.unvisible {
  display: none;
}

.center {
  text-align: center;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */