// Variables
:root {
    --color-primary: #951015;
    --color-secondary: #f1d7a6;
    --color-border: #e21f2d;
    --color-background: rgb(189, 204, 183);
    --color-overlay: #5B7273;
}

// Main style
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: lighten(#f1d7a6, 15%) 
}

//Header
.main-header {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    border: 2px solid var(--color-border);
    color: var(--color-primary);
    background-color: var(--color-background);

    &__logo {
        width: 150px;
        justify-self: flex-start;
    }

    &__title {
        font-size: 2.5rem;
        justify-self: center;
        align-self: center;
    }
}

//Main area
.main {
    width: 1200px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 3rem 2rem;
    border: 2px solid var(--color-border);
    background-color: var(--color-background);
    height: auto;


    .noMovie {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        &__paragraph {
            font-size: 2rem;
            line-height: 1.5;
            color: var(--color-primary);
            letter-spacing: 1px;
            font-weight: 500;
            text-align: center;
        }
    }
}

// Movie database
.movieDatabase {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;

    &__title {
        font-size: 2.5rem;
        color: var(--color-primary);
        letter-spacing: 1px;
        font-weight: 500;
    }

    &__list {
        list-style: none;
    }
}

// Forma
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #CCB8C9;
    opacity: 0.9;

    .container {
        width: 600px;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: inherit;
        font-size: 1.8rem;

        .img__movie {
            width: 250px;
            margin: auto;
        }

        p {
            text-align: center;
        }

        input[type='text'], input[type='number'] {
            width: 100%;
            font-size: 2.3rem;
            margin: 1rem 0;

            &:focus {
                outline: 4px solid #4D454B;
            }
        }   
    }
}



// Gumbi
.btn{
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: 500;
    width: 250px;
    height: 100px;
    border: 2px solid var(--color-border);
    color: var(--color-border);
    background-color: var(--color-secondary);
    position: relative;

    &:hover{
        transform: translateY(-4px);
        outline: none;
    }

    &:active {
        transform: translateY(2px);
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--color-secondary);
        border: 2px solid var(--color-border);
        transition: all .5s;
    }

    &:hover::after {
        transform: scale(2.5);
        opacity: 0;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    
         .btn--save {
            width: 280px;
            font-size: 2.2rem;
            margin-top: 20px;
            border: 3px solid green;
            transition: background .4s ease-in-out;

            &:hover {
                background: green;
            }
        }

        .btn--cancel {
            width: 280px;
            font-size: 2.2rem;
            margin-top: 20px;
            border: 3px solid red;
            transition: background .4s ease-in-out;

            &:hover {
                background: red;
            }
        }
}

// Animacije
@keyframes fade {
    0% {
            transform: translateY(-2000px);
            opacity: .5;
    }

    100% {
            transform: translateY(0px);
            opacity: 1;
    }
}