:root {
  --color-primary: #951015;
  --color-secondary: #f1d7a6;
  --color-border: #e21f2d;
  --color-background: rgb(189, 204, 183);
  --color-overlay: #5B7273;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #fbf5e8;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  border: 2px solid var(--color-border);
  color: var(--color-primary);
  background: -webkit-gradient(linear, right top, left top, from(#649173), to(#dbd5a4));
  background: linear-gradient(to left, #649173, #dbd5a4);
}

.main-header__logo {
  width: 150px;
  justify-self: flex-start;
}

.main-header__title {
  font-size: 2.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main {
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
  padding: 1rem 2rem;
  border: 2px solid var(--color-border);
  background: -webkit-gradient(linear, right top, left top, from(#649173), to(#dbd5a4));
  background: linear-gradient(to left, #649173, #dbd5a4);
  height: auto;
}

.main .noMovie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.main .noMovie__paragraph {
  font-size: 1.7rem;
  line-height: 1.5;
  color: var(--color-primary);
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

.movieDatabase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieDatabase__title {
  font-size: 2.5rem;
  color: var(--color-primary);
  letter-spacing: 1px;
  font-weight: 500;
}

.movieDatabase__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-top: 60px;
}

.movieDatabase__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  position: relative;
}

.movieDatabase__list li .list__img {
  width: 200px;
}

.movieDatabase__list li .list__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movieDatabase__list li .list__description .list__name {
  font-size: 1.7rem;
  margin-left: 70px;
}

.movieDatabase__list li .list__description .list__rating {
  font-weight: 700;
  font-size: 2.3rem;
  position: absolute;
  right: 120px;
  bottom: 50px;
}

.movieDatabase__list li .list__description .delete {
  width: 100px;
  font-size: 1.2rem;
  position: absolute;
  bottom: 10px;
  right: 100px;
  border: 1px solid var(--color-border);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.movieDatabase__list li .list__description .delete:hover {
  background-color: var(--color-primary);
  color: white;
  border: 1px solid #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #CCB8C9;
  opacity: .95;
  display: none;
  -webkit-animation: fade .7s ease-in-out;
          animation: fade .7s ease-in-out;
}

.overlay .container {
  width: 600px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  font-size: 1.8rem;
}

.overlay .container .img__movie {
  width: 250px;
  margin: auto;
}

.overlay .container p {
  text-align: center;
}

.overlay .container input[type='text'], .overlay .container input[type='number'] {
  width: 100%;
  font-size: 2.3rem;
  margin: 1rem 0;
}

.overlay .container input[type='text']:focus, .overlay .container input[type='number']:focus {
  outline: 4px solid #4D454B;
}

.btn {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  width: 200px;
  height: 80px;
  border: 2px solid var(--color-border);
  color: var(--color-border);
  background-color: var(--color-secondary);
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  outline: none;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  outline: none;
}

.btn:focus {
  outline: none;
}

.btn::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-border);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn:hover::after {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  opacity: 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons .btn--save {
  width: 280px;
  font-size: 2.2rem;
  margin-top: 20px;
  border: 3px solid green;
  -webkit-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}

.buttons .btn--save:hover {
  background: green;
}

.buttons .btn--cancel {
  width: 280px;
  font-size: 2.2rem;
  margin-top: 20px;
  border: 3px solid red;
  -webkit-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}

.buttons .btn--cancel:hover {
  background: red;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */