// Variables
:root {
    --color-primary: #951015;
    --color-secondary: #f1d7a6;
    --color-border: #e21f2d;
    --color-background: rgb(189, 204, 183);
    --color-overlay: #5B7273;
}

// Main style
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: lighten(#f1d7a6, 15%) 
}

//Header
.main-header {
    width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    border: 2px solid var(--color-border);
    color: var(--color-primary);
    background: linear-gradient(to left, #649173, #dbd5a4); 


    &__logo {
        width: 150px;
        justify-self: flex-start;
    }

    &__title {
        font-size: 2.5rem;
        justify-self: center;
        align-self: center;
    }
}

//Main area
.main {
    width: 1500px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 1rem 2rem;
    border: 2px solid var(--color-border);
    background: linear-gradient(to left, #649173, #dbd5a4); 
    height: auto;


    .noMovie {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        

        &__paragraph {
            font-size: 2rem;
            line-height: 1.5;
            color: var(--color-primary);
            letter-spacing: 1px;
            font-weight: 500;
            text-align: center;
        }
    }
}

// Movie database
.movieDatabase {
    display: flex;
    flex-direction: column;
    align-items: center;


    &__title {
        font-size: 2.5rem;
        color: var(--color-primary);
        letter-spacing: 1px;
        font-weight: 500;
    }

    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        margin-top: 60px;

        li {
            display: flex;
            width: 600px;
            position: relative;
             
            .list__img {
                width: 250px;
            }

            .list__description {
                display: flex;
                flex-direction: column;

                .list__name {
                    font-size: 1.7rem;
                    margin-left: 70px;
                }

                .list__rating {
                    font-weight: 700;
                    font-size: 2.3rem;
                    margin: 0;
                    align-self: center;
                }

                .delete {
                    width: 150px;
                    font-size: 1.2rem;
                    position: absolute;
                    bottom: 100px;
                    right: 100px;
                    border: 1px solid var(--color-border);
                    background-color: var(--color-secondary);
                    color: var(--color-primary);
                    transition: all .4s ease-in-out;

                    &:hover {
                        background-color: var(--color-primary);
                        color: white;
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }
}

// Forma
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #CCB8C9;
    opacity: .95;
    display: none;
    animation: fade .7s ease-in-out;

    .container {
        width: 600px;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: inherit;
        font-size: 1.8rem;

        .img__movie {
            width: 250px;
            margin: auto;
        }

        p {
            text-align: center;
        }

        input[type='text'], input[type='number'] {
            width: 100%;
            font-size: 2.3rem;
            margin: 1rem 0;

            &:focus {
                outline: 4px solid #4D454B;
            }
        }   
    }
}



// Gumbi
.btn{
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: 500;
    width: 250px;
    height: 100px;
    border: 2px solid var(--color-border);
    color: var(--color-border);
    background-color: var(--color-secondary);
    position: relative;

    &:hover{
        transform: translateY(-4px);
        outline: none;
    }

    &:active {
        transform: translateY(2px);
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--color-secondary);
        border: 2px solid var(--color-border);
        transition: all .5s;
    }

    &:hover::after {
        transform: scale(2.5);
        opacity: 0;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    
         .btn--save {
            width: 280px;
            font-size: 2.2rem;
            margin-top: 20px;
            border: 3px solid green;
            transition: background .4s ease-in-out;

            &:hover {
                background: green;
            }
        }

        .btn--cancel {
            width: 280px;
            font-size: 2.2rem;
            margin-top: 20px;
            border: 3px solid red;
            transition: background .4s ease-in-out;

            &:hover {
                background: red;
            }
        }
}

// Animacije
@keyframes fade {
    0% {
            transform: translateY(-2000px);
            opacity: 0;
    }

    100% {
            transform: translateY(0px);
            opacity: 1;
    }
}